* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 400px;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: $text-clr;
}

.image {
    width: 30%;
    height: auto;
}